#featured-product-container h1 {
  font-weight: bolder;
  font-family: 'inter';
  text-align: center;
  padding: 1rem;
}

#featured-product-container h4, #featured-product-container h3 {
  color: var(--clr-primary-5);
}

#featured-product-container h4 {
  font-weight: normal;
}

#featured-product-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.box-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.8);
}

.box-column .featured-product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-column:nth-child(2) {
  background-color: rgba(243, 237, 233, 0.8);
  padding: 0 2rem;
}

.box-column:nth-child(2) .primary-product-info {
  width: 30vw;
}

.box-column:nth-child(2) .secondary-product-info {
  width: 30vw;
}

.box-column:nth-child(2) .secondary-product-info ul {
  padding: 0;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn {
  background-color: var(--clr-primary-5);
  color: #ffffff;
  border: 1px solid var(--clr-primary-5);
  border-radius: 100px;
  width: 220px;
  height: 45px;
  cursor: pointer;
}

.prev-btn,
.next-btn {
  position: relative;
  z-index: 100;
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
  #featured-product-container {
    margin-top: 2rem;
    height: 100%;
    border-radius: 15px;
    text-align: center;
  }
  #featured-product-container h1 {
    text-align: center;
  }
  #featured-product-container .arrow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    width: 100%;
  }
  #featured-product-container .prev-btn,
  #featured-product-container .next-btn {
    position: static;
  }
  #featured-product-container .prev-btn {
    left: 0;
  }
  #featured-product-container .next-btn {
    right: 0;
  }
  #featured-product-container .box-container {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
  }
  #featured-product-container .box-container .box-column {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 87vw;
    padding: 0;
  }
  #featured-product-container .box-container .box-column:nth-child(1) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: transparent;
  }
  #featured-product-container .box-container .box-column:nth-child(1) img {
    margin: 1.5rem;
    border-radius: 15px;
  }
  #featured-product-container .box-container .box-column:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(2), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(3), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(4), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(5), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(6), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(7), #featured-product-container .box-container .box-column:nth-child(2) p:nth-child(8) {
    display: none;
  }
  #featured-product-container .box-container .box-column .primary-product-info {
    width: 100%;
    padding: 0 1.5rem;
  }
  #featured-product-container .box-container .box-column .secondary-product-info {
    width: 100%;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=featuredProduct.css.map */