#hero-logo {
  position: fixed;
  top: 0vh;
  left: 0;
    opacity: 0.5;
    object {
        width: 100vw;
    }
}

#hero-container {
    display: flex;
    height: 100vh;
    margin-top: 0vh;
    padding: 1rem 7rem;
    align-items: center;
  }
  
  .models-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10rem;
  }
  
  .model-column {
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .hero-description-column {
    position: relative;
    width: 30%;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 20px;
    padding: 2rem;
    margin: 0;
  }

  @media only screen and (min-width: 691px) and (max-width: 1600px) { //small desktop | tablet
    #hero-container {
      display: grid;
    }

    #hero-canvas-container {
      display: grid;
    }

    .hero-description-column {
      background-color: #fff;
      opacity: 0.9;
      border-radius: 20px;
      width: 40%;
      padding: 1rem;
    }

    .models-container {
      grid-column-gap: 0;
      grid-template-rows: repeat(1, 1fr);
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 690px) { //mobile
    .header-content a {
      margin-top: 1rem;
    }

    #hero-container {
      display: grid;
      padding: 1rem;
      margin-bottom: 5rem;
      margin-top: 0;

      #hero-logo {
        top: 10vh;
      }
    }

    .models-container {
      grid-template-columns: 1fr;
    }

    #hero-canvas-container .models-container .model-column:nth-child(1) {
      height: calc(100vh / 2)
    }

    #hero-canvas-container .models-container .model-column:nth-child(2),
    #hero-canvas-container .models-container .model-column:nth-child(3) {
      display: none;
    }

    .hero-description-column {
      text-align: center;
      background-color: #fff;
      opacity: 0.9;
      border-radius: 20px;
      width: 90%;
      padding: 1rem;
      margin: 0;
    }
  }

  