.product-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10% ;
}

  img {
    width: 50%;
  }

.flexbox-item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-left: 10px;

  h2 {
    color: var(--clr-primary-4);
  }
}

.btn {
  padding: 6px 14px;
  font-family: 'Karla', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: var(--clr-primary-5);
}



  .price {
    color: var(--clr-primary-5);
  }
  .desc {
    line-height: 2;
    max-width: 45em;
  }
  .info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 125px 1fr;
    span {
      font-weight: 700;
    }
  }


  @media (max-width: 425px) {
    .product-container {
      display: flex;
     flex-direction: column;
     align-items: center;
    }
    .price {
      font-size: 1.25rem;
    }
  }

