#about-container {

    h1 {
        font-weight: bolder;
    }
    
    h4, h3 {
        color: var(--clr-primary-5);
    }

    h4 {
        font-weight: normal;
    }

    
}

#about-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.about-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    height: 90vh;
}

.about-box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.primary-about-info {
    margin: 1rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 2rem;
}

.mini-column {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 690px) { //mobile
    #about-container {
        height: 60vh;
    }
    
    .about-box-container {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        overflow: hidden;
    }

    .about-box-column {
        width: 100%;
      }

    .mini-column {
        display: none;
    }
}
  

