#about-container {
    h1 {
        font-weight: bolder;
    }
    
    h4, h3 {
        color: var(--clr-primary-5);
    }

    h4 {
        font-weight: normal;
    }
}

#about-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.about-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    
}

.about-box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.primary-about-info {
    margin: 1rem;
    width: 80%;

}

.mini-column {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 690px) { //mobile
    #about-container {
        height: 100vh;
    }
    
    .about-box-container {
        display: grid;
        // grid-template-columns: 1fr;
        height: auto;
        overflow: hidden;
    }

    .about-box-column {
        width: 100%;
      }

    .mini-column {
        display: none;
    }
}
  

