.header-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.header-left-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--clr-primary-5);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
  }
  
 .navigation-container p {
    color: var(--clr-primary-4);
    margin: 0;
  }
  
  .italic {
   font-style: italic;
   font-weight: 500;
  }
  
  img {
    width: 150px;
  }

  .right-header {
    position: relative;
    margin-right: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
  }

  .right-header a {
    color: red !important;
  }

  .btn-toggle {
    margin-top: 0.5rem;
    background: transparent;
    border: transparent;
    color: var(--clr-primary-1);
    cursor: pointer;
    svg {
      font-size: 2rem;
    }
  }


  @media only screen and (min-width: 320px) and (max-width: 425px) {
    .mid-header {
      display: none; 
     }
     img {
      width: 75px;
      margin-left: 25px;
    }
  }